*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(214, 214, 214);
    padding:  10px;
}
.logo{
    width: 70px;
}
li{
    list-style: none;
    font-size: 20px;
}
li:hover{
    color: blue;
    cursor: pointer;
}
.menu-container{
    display: flex;
    gap: 15px;
}
.banner-image{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}
.banner-left{
    width: 400px;
    line-height: 2;
}
.btn{
    padding: 15px 30px;
    border: none;
    color: white;
    cursor: pointer;
}
.hire-btn{
    background-color: rgb(49, 48, 63);
}
.project-btn{
    background-color: rgb(25, 11, 231);
}
.title{
    font-size: 45px;
}
.service-title{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}
.service-card{
    width: 300px;
    height: 430px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;
}
.service-img{
    width: 250px;
}
.service-card-btn{
    padding: 15px 25px;
    background-color: rgb(99, 107, 104);
    border: none;
    font-size: 18px;
    color: white;

}
.service-description{
    margin: 10px;
}
.services{
    display: flex;
    justify-content: center;
    gap: 50px;
}
a{
    text-decoration: none;
    color: white;
    
}

.contact-us{
    padding: 50px;
    /* width: 75%;
    margin: auto; */
    text-align: center;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 8px gray;
    margin-top: 30px;
}
.input-box{
    padding: 15px;
    width: 50%;
    margin-top: 10px;

}
.message{
    padding: 15px;
    width: 40%;
    height: 100px;
    margin-top: 15px;
}
.submit-btn{
    width: 25%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 20px;
}