.box{
    width: 400px;

    border: 1px solid gray;
    text-align: center;
    padding: 50px;
    margin: 50px 100px;

}
.title{
    display: inline;
}

.des{
    color: goldenrod;
    font-size: 50px;
    font-weight: bold;
    /* font-style: italic; */
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

.box-all{
    width: 250px;
    height: 250px;
}
.box1{
    border: 2px solid black;
    
    
}
.box2{
    border: 2px solid red;
    margin-top: 10px;
    
}
.box3{
    border: 2px solid blue;
    margin-top: 10px;
    
}