.main-container{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.cart-container{
    width: 50%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: fixed; */
    top: 0px;
    right: 0px;
}
.card{
    border: 1px solid gray;
    padding: 10px;
}
.card-img
{
    width: 150px;
    
}
.cart-info{
    display: flex;
    justify-content: space-around;
    
}

.main-container {
    flex-wrap: wrap;
}
.cart-container, .product-container {
    width: 100%;
    margin: 10px 0;
}
